body
{
	background: url("../Img/inicio2.jpg") ;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FFFFFF;
	margin: 0%;
}
#encabezado
{
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: #D17F97;
	z-index: 1000000;
	border-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	opacity: 0.8;
}
#logo
{
	position: relative;
	font-family: cambria;
	font-size: 50px;
	color: white;
	margin-left: 120px;
	margin-top: -65px;
}
#ilogo
{
	height: 70px;
	width: 70px;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 30px;
}
#h51
{
	position: relative;
	font-family: cambria;
	font-size: 20px;
	color: white;
	margin-left: 325px;
	margin-top: -65px;
}
#h52
{
	position: relative;
	font-family: cambria;
	font-size: 20px;
	color: white;
	margin-left: 445px;
	margin-top: -55px;
}
#h53
{
	position: relative;
	font-family: cambria;
	font-size: 20px;
	color: white;
	margin-left: 590px;
	margin-top: -55px;
}
#lupa 
{
	position: relative;
	height: 30px;
	width: 30px;
	margin-top: -75px;
	margin-left: 10px;
}
#buscar
{
	position: relative;
	background-color: #F0F0F7 ;
	width: 250px;
	height: 30px;
	margin-top: ;
	margin-left: 900px;
	border: none;
	font-family: candara;
	font-size: 18px;
	color: black;
	border-radius: 20px;
	margin-top: -80px;
}
#titulo1
{
	position: absolute;
	font-family: cambria;
	font-size: 20px;
	color: white;
	margin-left: 10px;
	margin-top: 100px;
}
#titulo2
{
	position: absolute;
	font-family: cambria;
	font-size: 20px;
	color: white;
	margin-left: 10px;
	margin-top: 350px;
}
#libro1
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 160px;
	margin-left: 125px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}
#libro2
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 160px;
	margin-left: 280px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;

}
#libro3
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 160px;
	margin-left: 430px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}
#libro4
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 160px;
	margin-left: 580px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}
#tododentro
{
	position: absolute;
	height: 580;
	width: 1100;
	background-color: transparent;
	margin-top: 40px;
	margin-left: 80px;
}
#libro5
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 410px;
	margin-left: 125px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}
#libro6
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 410px;
	margin-left: 280px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;

}
#libro7
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 410px;
	margin-left: 430px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}
#libro8
{
	position: absolute;
	height: 140px;
	width: 100px;
	margin-top: 410px;
	margin-left: 580px;
	margin-right: 5px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: white;
	box-shadow: 2px 2px 2px white;
}